---
---

@import "{{ site.theme }}";

#header {
  display: none;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  h1 {
    margin: 15px;
    font-size: 50px;
  }
  hr {
    display: none;
  }
}

.credits {
  display: none !important;
}

.image-gallery { 
  padding: 0;
}

a {
  text-decoration: underline;
}
