---
---

@import "{{ site.theme }}";

#header {
  display: none;
}

#title hr {
  display: none;
}

.credits {
  display: none !important;
}

.image-gallery { 
  padding: 0;
}

a {
  text-decoration: underline;
}
